header {
  background-color: #e24647;
  color: #fff;
  overflow: hidden;

  margin: 0 115px;

  padding: 60px 45px 95px 60px;
}

h1 {
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

nav {
  float: right;
  font-family: "Segoe UI", "Roboto", sans-serif;
  font-size: 21px;
}

a,
b,
c {
  color: inherit;
  text-decoration: none;
  margin: 15px;
}
